.sobre-nosotros img {
    display: block;
    margin: 0 auto;
    object-fit: cover;
    width: 100%;
    max-width: 968px;
}


.text-centrado {
    margin: 1em auto;
    text-align: center;
    font-weight: 32px
}

.text-centrado span:hover {
    color: #948c34 ;
  }